@import '../../styles/theme.scss';

.Personal {
  .BreadCrumbs {
    margin-bottom: $spacing;
  }
  .Contents {
    display: grid;
    grid-template-columns: minmax(300px, 25%) minmax(420px, 30%);
    grid-column-gap: $spacing;

    @media (max-width: 960px) {
      grid-template-columns: 9fr 10fr;
    }
    @media (max-width: 600px) {
      display: flex;
      flex-flow: column;
    }
    .Foto {
      margin-bottom: $spacing;
      .FotoPicture {
        text-align: center;
        .Picture {
          border-radius: 50%;
        }
      }
      .FotoButtons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: $spacing/2;
        .BtnUploadCont {
          display: flex;
          flex-direction: column;

          .BtnUpload {
            text-align: center;
            position: relative;
            input[type='file'] {
              opacity: 0;
              position: absolute;
              width: 1px;
              height: 1px;
              pointer-events: none;
            }
          }
          .BtnUploadComment {
            text-align: center;
            font-size: 0.7rem;
            color: #777;
          }
          .BtnUploadError {
            color: red;
          }
        }
        .BtnDelete {
          text-align: center;
        }
      }
    }
    .Form {
      @include paper;
      .FormContents {
        width: 90%;
        margin: 0 auto;
        .Remark {
          color: lightgray;
          font-size: 0.8rem;
        }
        & button {
          font-size: 0.7rem;
          padding: 0;

        }
      }
    }
  }
  .Buttons {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
