.Button {
  
}
.Next {
  background-color: green;
}
.Switch, .Progress {
  border-radius: 0.5rem;
}

.Selected {
  background-color: orange;
}

.Confirm {
  background-color: lightgrey;
}

.Inline {
  background-color: lightgrey;
}